.option-in-poll {
	width: 45%;
	gap: 16px;
}

.btn-click {
	width: 100%;
	padding: 8px;
	background: lightseagreen;
	border: 1px solid transparent;
	color: white;
	font-weight: bold;
}

.btn-click:hover {
	cursor: pointer;
	background: transparent;
	border: 1px solid lightseagreen;
	color: lightseagreen;
}
